.Container{
    background-color: rgb(52, 63, 75);
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
}

.Contenedor{
    background-color: rgb(52, 63, 75);
    height: 200vh;
    margin-right : 0 !important;
    margin-left : 0 !important;
    margin-bottom: 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
}

#logo{
    height: 180px;
    width: 200px;
    margin-left: 100px;
}

.Title{
    margin-left: 80px;
    margin-top: -70px;
}

.Subtitle{
    margin-left: 80px;
    margin-top: -60px;
}

h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 40px;
}

h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.Buttons{
    margin-left: 60px;
    margin-top: -60px;
}

.button{
    display: inline-block;
}

#Boton{
    color: white;
    background-color:  rgb(194, 91, 233);
    text-decoration: none;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    border-radius: 5px;
    border-color: transparent;
    width: 200px;
    height: 40px;
    margin-left: 20px;
}

.Footer{
    background-image: url("../Images/Fondo_montañas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    height: 100vh;
    color:white;
    margin-right : 0 !important;
    margin-left : 0 !important;
    margin-bottom: 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
}

h5{
    margin-top: 30px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer_subscribe{
    display: inline-block;
    width: 320px;
    margin-left: 10px;
    background-color: transparent;
    height: 50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#subscribe_button{
    margin-left: 10px;
    color: white;
    background-color:  rgb(194, 91, 233);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    border-color: transparent;
    width: 130px;
}

.subscribe{
    margin-top: 30px;
}

.subscribes{
    display: inline-block;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 14px;
}

.col_footer{
    margin-top: 20px;
    margin-left: 20px;
}

#iconos{
    color:white;
    display: inline-block;
    margin: 10px;    
}

.copyright{
    font-size: 10px;
    text-align: right;
    margin-left: 50px;
}