.containerH20{
    color: white;
}

.text_h20{
    margin-left: 120px;
    margin-top: 20px;
}

.text_h20 h1{
    color:rgb(233, 238, 245);;
    margin-bottom: 60px;
    text-decoration: underline;
}
.text_h20 h2{
    color: rgb(233, 238, 245);;
    margin-bottom: 15px;
}
.text_h20 p{
    color: rgb(233, 238, 245);;
    margin-left: 25px;
}
.text_h20 h3{
    color: rgb(233, 238, 245);;
}

.contenedor20{
    background-color: white;
}
.botonInflu{
    margin-left: 145px;
}