.Contenedor{
    background-color: rgb(52, 63, 75);
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    margin-right : 0 !important;
    margin-left : 0 !important;
    margin-bottom: 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
}
.form{
    background-color: aliceblue;
    height: 500px;
    margin: 55px;
    padding: 25px;
}
.titulo_h19{
    color: white;
    margin-left: 40px;
}
