.header{
    background-color: rgb(52, 63, 75);
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
}
.justify-content-center{
    padding-left: 190px;
    padding-top: 10px;
}
.icons_menu{
    color:white;
    font-size: 25px;
    margin-right: 10px;
    padding-left: 140px;
}

#menu{
    color:white;
}

#icons{
    display:inline-block;
    margin: 10px;
}