#Grafico{
    width: 500px;
    height: 500px;
}

.cont_layout1{
    background-color: rgb(52, 63, 75);
    display:flex;
    margin-right : 0 !important;
    margin-left : 0 !important;
    margin-bottom: 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    
}

.lista  {
    background-color: rgb(24, 24, 86);
    color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 99%;
    padding: 0px;
    margin-left: 0px;
}


#botoni{
    color: white;
    background-color:  rgb(194, 91, 233);
    text-decoration: none;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align:center;
    border-radius: 5px;
    border-color: transparent;
    width: 170px;
    height: 40px;
    margin-left: -168px;
}
.products11a{
    margin-left: 0px;
}
.products11b{
    margin-right: 40px;
}
.fila11a1{
    height: 150px;
}