.Contenedor{
    background-color: rgb(52, 63, 75);
    height: 1100px;
    width: max-content;
}

.boton2{
    background-color: rgb(92, 94, 96);
    height: 50px;
    width: 700px;
    border: none;
    border-radius: 0%;
    margin-left: 100px;
    margin-right: 470px;
    display: block;
    margin-top: 10px;
    text-align: start;
    
    
}
.h1{
    color: white;
}

@media(max-width: 512px){
    .Contenedor{
        background-color: rgb(52, 63, 75);
        height: 1100px;
        width: max-content;
    }
    
    .boton2{
        background-color: rgb(92, 94, 96);
        height: 50px;
        width: 700px;
        border: none;
        border-radius: 0%;
        margin-left: 100px;
        margin-right: 470px;
        display: block;
        margin-top: 10px;
        text-align: start;
        
        
    }
    .h1{
        color: white;
    }
}
