.Login{
    background-color: rgb(52, 63, 75);
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
}
.title_login{
    color:white;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-left: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.title_login p{
    font-size: 25px;
}

.create_login {
    border: 1px;
    border-style: solid;
    background-color: rgb(36, 20, 69);
    text-align: center;
    width: 600px;
    height: 450px;
    flex: 1;
    padding-top: 15px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 130px;
 
}

.inputs{
    margin-top: 20px;
}

.form-control{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#login{
    border-color: white;
    background-color: rgb(36, 20, 69);
    text-align: left;
    align-items: center;
    width: 90%;
    border-radius: 5px;
    height: 40px;
    color:white;
    flex-direction: column;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#create_boton{
    border-color: white;
    background-color: white;
    text-align: center;
    align-items: center;
    width: 95%;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
    margin-top: 25px;
}